.button {
  @include font();
  @include box-margin(0, 0, 0, $vertical-shift);
  @include box-padding(5px, 20px);
  @include box-basic($btn-color, 2px, solid, $text-color, $text-color);
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: $btn-size;
  cursor: pointer;
  transition: 0.1s;
  &:hover {
    transform: scale(1.1);
    color: $bg-header-color;
    background-color: $text-color;
  }
}
