.add-task {
  @include font();
  @include box-basic($bg-header-color, null, null, null, $text-color);
  @include box-padding($vertical-shift, $horizontal-shift);
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  &__title {
    @include box-padding(0, 0, $vertical-shift, 0);
    margin-bottom: $vertical-shift;
    flex-basis: 100%;
    border-bottom: 2px solid $text-color;
  }
  &__form {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
  }
  &__form-row {
    @include box-basic(null, white, solid, 3px);
    @include box-padding(1vh, 1vw);
    @include box-margin(0, 0, 1vh, 0);
    background-color: lighten($bg-header-color, 5%);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    align-items: center;
  }
  &__task-input {
    border: 0;
    flex-grow: 1;
  }
  &__task-textarea {
    @include box-padding(10px, 30px);
    font-size: 16px;
    font-weight: bold;
    background-color: lighten($bg-header-color, 15%);
    border-radius: 30px;
    outline: none;
    resize: none;
    overflow: auto;
    color: darken($bg-header-color, 20%);
    border: none;
    transition: 0.2s;
    &:focus {
      box-shadow: 0 0 0 3px $bg-header-color;
    }
  }
  &__bg-button {
    @include box-margin(0, 0, 0, $horizontal-shift);
    @include box-basic(limegreen, 2px, solid, $text-color, null);
    width: 30px;
    height: 30px;
    border-radius: 10px;
    transition: 0.2s;
    cursor: pointer;
    &:hover,
    &--active,
    &:focus {
      transform: scale(1.2);
    }
    &:focus {
      box-shadow: 0 0 0 3px white;
    }
  }
}
